In [2]:
2 + 2

4

In [3]:
3 - 2

1

In [4]:
13 * 3

39

In [5]:
15 / 3

5.0

In [6]:
5 ** 2

25

In [7]:
2.5 ** 2

6.25

In [8]:
4 ** (0.5)

2.0

In [10]:
13 / 4

3.25

In [11]:
13 // 4

3

In [12]:
13 % 4

1

In [13]:
1e15

1000000000000000.0

In [14]:
1e16

1e+16

In [15]:
1e-4

0.0001

In [17]:
1e-5

1e-05

In [18]:
17

17

In [19]:
0b10001

17

In [20]:
0o21

17

In [21]:
0x11

17

In [22]:
bin(20)

'0b10100'

In [23]:
oct(20)

'0o24'

In [24]:
hex(20)

'0x14'

In [25]:
print(True)
print(False)

True
False

In [26]:
type(True)

bool

In [27]:
print(True and False)
print(True or False)
print(not True)
print(not False)

False
True
False
True

In [28]:
print(4 < 3)
print(4 > 3)
print(4 <= 3)
print(4 >= 3)
print(4 == 3)
print(4 != 3)

False
True
False
True
False
True

In [29]:
print($ * 50)

SyntaxError: invalid syntax (<ipython-input-29-2850aff82e39>, line 1)

In [30]:
print('$' * 50)

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [31]:
print('$' + 50)

TypeError: can only concatenate str (not "int") to str

In [32]:
2 ** 3

8

In [33]:
2 ** (2 ** 0.5)

2.665144142690225

In [34]:
a = 52345

In [35]:
b = 66

In [36]:
result = a % b

In [38]:
print('<%d>를 <%d>로 나누면 <%d>가 나머지로 남습니다' %(a, b, result))

<52345>를 <66>로 나누면 <7>가 나머지로 남습니다

In [40]:
bin(17)

'0b10001'

In [41]:
oct(17)

'0o21'

In [42]:
hex(17)

'0x11'

In [43]:
3 == 2

False

In [44]:
a = 3
a > 1 and a < 10

True

In [45]:
b = 7
b != 6 or b <= 7

True

In [46]:
a = 3450
print(a)

3450

In [47]:
print(a * 2)
print(a * 3)
print(a * 4)

6900
10350
13800

In [50]:
print("String1")
print("String2")

String1
String2

In [51]:
st1 = "String1"
st2 = 'String2'
print(st1)
print(st2)

String1
String2

In [52]:
st3 = "Hello 'World'"
st4 = 'Hello "World"'
print(st3)
print(st4)

Hello 'World'
Hello "World"

In [53]:
st5 = '''st3 = "Hello 'World'"
st4 = 'Hello "World"'
print(st3)
print(st4)'''
print(st5)

st3 = "Hello 'World'"
st4 = 'Hello "World"'
print(st3)
print(st4)

In [54]:
a = "Hello"
b = " World !!"
c = a + b
print(c)
print(c * 3)

Hello World !!
Hello World !!Hello World !!Hello World !!

In [58]:
str1 = "matchup-process"
print(str1[3])
print(str1[-3])

c
e

In [61]:
str1 = "이름:손흥민, 소속팀:토트넘, 생년:1992"
print(str1[8:11])

소속팀

In [62]:
count(str1, '손')

NameError: name 'count' is not defined

In [64]:
str1.count('9')

2

In [65]:
type("Hi, My name is Biggy")

str

In [69]:
print('갈릴레오 갈릴레이는 말했다. "그래도 지구는 돈다."')

갈릴레오 갈릴레이는 말했다. "그래도 지구는 돈다."

In [67]:
print("Python is" + " easy to code.")

Python is easy to code.

In [68]:
a = 'python'
print(a * 5)

pythonpythonpythonpythonpython

In [70]:
m_stu = [90, 85, 100, 95, 80]
m_stu

[90, 85, 100, 95, 80]

In [71]:
type(m_stu)

list

In [73]:
print(m_stu[0])
print(m_stu[1])
print(m_stu[2])
print(m_stu[3])
print(m_stu[4])
print(m_stu[5])

90
85
100
95
80

IndexError: list index out of range

In [75]:
m_stu[0] = 70
m_stu[5] = 50
m_stu

IndexError: list assignment index out of range

In [76]:
mx_list = [0, 1, 'python', 'program', m_stu]
mx_list

[0, 1, 'python', 'program', [70, 85, 100, 95, 80]]

In [77]:
list1 = [1, 2, 3, 4]
list2 = [11, 12, 13, 14]
print(list1 + list2)
print(list1 * 3)

[1, 2, 3, 4, 11, 12, 13, 14]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [78]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list)
print(list[0:3])
print(list[3:10])
print(list[:3])
print(list[6:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[7, 8, 9, 10]

In [82]:
del list[9]
print(list)

IndexError: list assignment index out of range

In [83]:
print(4 in list)
print(7 in list)
print(10 in list)

True
True
False

In [84]:
m_stu = ['박지성', '기성용', '손흥민', '이청용']
print(m_stu)

['박지성', '기성용', '손흥민', '이청용']

In [85]:
m_stu.append('이강인')
print(m_stu)

['박지성', '기성용', '손흥민', '이청용', '이강인']

In [86]:
m_stu.insert(4, '이승우')

In [87]:
print(m_stu)

['박지성', '기성용', '손흥민', '이청용', '이승우', '이강인']

In [89]:
m_stu.extend(['백승호', '정우영'])
print(m_stu)

['박지성', '기성용', '손흥민', '이청용', '이승우', '이강인', '백승호', '정우영']

In [90]:
m_stu.remove('이승우')
print(m_stu)

['박지성', '기성용', '손흥민', '이청용', '이강인', '백승호', '정우영']

In [91]:
pp = m_stu.pop()
print(pp)

정우영

In [92]:
m_stu

['박지성', '기성용', '손흥민', '이청용', '이강인', '백승호']

In [93]:
idx = m_stu.index('손흥민')
print(idx)

2

In [95]:
cnt = m_stu.count('기성용')
print(cnt)

1

In [96]:
m_stu.sort()
print(m_stu)

['기성용', '박지성', '백승호', '손흥민', '이강인', '이청용']

In [98]:
m_stu.reverse()
print(m_stu)

['이청용', '이강인', '손흥민', '백승호', '박지성', '기성용']

In [99]:
print(m_stu.remove('이승우'))

ValueError: list.remove(x): x not in list

In [101]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
print(solarsys)
del(solarsys[-1])
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [102]:
print(solarsys)
del(solarsys[1:7])
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['태양', '천왕성', '해왕성']

In [107]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
print(solarsys)
moon = solarsys.index('지구')
solarsys.insert(moon, '달')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
['태양', '수성', '금성', '달', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']

In [106]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
print(solarsys)
solarsys.extend('헬리혜성')
print(solarsys)
solarsys.extend(['헬리혜성'])
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬', '리', '혜', '성']
['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬', '리', '혜', '성', '헬리혜성']

In [108]:
tp = (1, 2, 3, 4)
print(tp)
type(tp)

(1, 2, 3, 4)

tuple

In [110]:
tp2 = 5, 6, 7, 8
print(tp2)
type(tp2)

(5, 6, 7, 8)

tuple

In [111]:
tp[2]

3

In [112]:
tp3 = (1,)
tp4 = 2,
print(tp3)
print(tp4)
type(tp3)

(1,)
(2,)

tuple

In [113]:
tp5 = (1, 2, 3, 4)
tp5[1] = 10

TypeError: 'tuple' object does not support item assignment

In [114]:
tp6 = ('가', '나', '다', '라', '마', '바')
tp6.index('다')

2

In [115]:
tp7 = ('가', '가', '가', '가', '나', '나', '다')
tp7.count('가')

4

In [116]:
seta = {1, 2, 3, 4}
setb = {1, 2, 2, 3, 4}
print(seta)
print(setb)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [117]:
type(seta)

set

In [118]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
B = {2, 4, 5, 11, 13}
A.intersection(B)

{2, 4, 5}

In [119]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [120]:
A.difference(B)

{1, 3, 6, 7, 8, 9, 10}

In [121]:
A&B

{2, 4, 5}

In [122]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [123]:
A-B

{1, 3, 6, 7, 8, 9, 10}

In [124]:
A = [1, 2, 3]
type(A)

list

In [125]:
B = tuple(A)
B

(1, 2, 3)

In [126]:
type(B)

tuple

In [127]:
C = set(A)
C

{1, 2, 3}

In [128]:
type(C)

set

In [135]:
D = set([1, 2, 2, 3])
D

{1, 2, 3}

In [136]:
t1 = (1, 2, 'q', 'w', 'e')
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [137]:
print(t1[1:])

(2, 'q', 'w', 'e')

In [138]:
t2 = (1, 2, 1, 1, 4, 1, 'e')
print(t2.count(1))

4

In [139]:
Best2018 = {'MESSI', 'RONALDO', 'MBAPPE', 'HAZARD', 'KANTE', 'MODRIC', 'MARCELO', 'RAMOS', 'VARANE', 'ALVES', 'DEGEA'}
Best2019 = {'MESSI', 'SUAREZ', 'RONALDO', 'INIESTA', 'KROOS', 'MODRIC', 'MARCELO', 'RAMOS', 'PIQUE', 'ALVES', 'NEUER'}

In [140]:
Best2018 & Best2019

{'ALVES', 'MARCELO', 'MESSI', 'MODRIC', 'RAMOS', 'RONALDO'}

In [141]:
Best2018 | Best2019

{'ALVES',
 'DEGEA',
 'HAZARD',
 'INIESTA',
 'KANTE',
 'KROOS',
 'MARCELO',
 'MBAPPE',
 'MESSI',
 'MODRIC',
 'NEUER',
 'PIQUE',
 'RAMOS',
 'RONALDO',
 'SUAREZ',
 'VARANE'}

In [142]:
Best2018 - Best2019

{'DEGEA', 'HAZARD', 'KANTE', 'MBAPPE', 'VARANE'}

In [143]:
dict = {"남자" : "Men", "여자" : "Women", "아이" : "Baby"}
dict

{'남자': 'Men', '여자': 'Women', '아이': 'Baby'}

In [144]:
type(dict)

dict

In [145]:
dict['남자']

'Men'

In [146]:
dict1 = {1 : "Man", 2 : "Woman", 3 : "Baby"}
dict1

{1: 'Man', 2: 'Woman', 3: 'Baby'}

In [147]:
dict1[1]

'Man'

In [150]:
dict2 = {1:100, 2:200, 3:300, 4:400}
print(dict2)
print(dict2[2])

{1: 100, 2: 200, 3: 300, 4: 400}
200

In [151]:
dict3 = {"list1":[1, 2, 3], "list2":[4, 5, 6]}
print(dict3)
print(dict3['list2'])

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}
[4, 5, 6]

In [152]:
dict4 = {1:100, 'list':{1:100, 2:200}, 'tuple':{'A':[1,2,3], 'B':(4,5,6)}, 'string': 'Python'}
dict4

{1: 100,
 'list': {1: 100, 2: 200},
 'tuple': {'A': [1, 2, 3], 'B': (4, 5, 6)},
 'string': 'Python'}

In [153]:
dict1[1] = "Gender"
dict1

{1: 'Gender', 2: 'Woman', 3: 'Baby'}

In [154]:
dict1[4] = "Grand mother"
dict1

{1: 'Gender', 2: 'Woman', 3: 'Baby', 4: 'Grand mother'}

In [155]:
del dict1[2]
dict1

{1: 'Gender', 3: 'Baby', 4: 'Grand mother'}

In [156]:
dict1.keys()

dict_keys([1, 3, 4])

In [157]:
dict1.values()

dict_values(['Gender', 'Baby', 'Grand mother'])

In [158]:
dict1 = {1:"Man", 2:'Woman', 3:'Baby'}
print(dict1.keys())

dict_keys([1, 2, 3])

In [160]:
print(dict1.values())

dict_values(['Man', 'Woman', 'Baby'])

In [161]:
print(dict1.items())

dict_items([(1, 'Man'), (2, 'Woman'), (3, 'Baby')])

In [162]:
dict2 = {4:100, 5:200, 6:300, 7:400}
dict1.update(dict2)
dict1

{1: 'Man', 2: 'Woman', 3: 'Baby', 4: 100, 5: 200, 6: 300, 7: 400}

In [163]:
dict2.clear()
print(dict2)

{}

In [164]:
type(dict2)

dict

In [166]:
po = {'서울':10999, '대전':2111, '대구': 9778, '부산':20245, '인천':27115, '광주':5887, '제주':7855}
po

{'서울': 10999,
 '대전': 2111,
 '대구': 9778,
 '부산': 20245,
 '인천': 27115,
 '광주': 5887,
 '제주': 7855}

In [168]:
po['서울'] = 30000
po

{'서울': 30000,
 '대전': 2111,
 '대구': 9778,
 '부산': 20245,
 '인천': 27115,
 '광주': 5887,
 '제주': 7855}

In [169]:
del(po['대전'])
po

{'서울': 30000, '대구': 9778, '부산': 20245, '인천': 27115, '광주': 5887, '제주': 7855}

In [170]:
po = {'서울':10999, '대전':2111, '대구': 9778, '부산':20245, '인천':27115, '광주':5887, '제주':7855}
po

{'서울': 10999,
 '대전': 2111,
 '대구': 9778,
 '부산': 20245,
 '인천': 27115,
 '광주': 5887,
 '제주': 7855}

In [171]:
po.keys()

dict_keys(['서울', '대전', '대구', '부산', '인천', '광주', '제주'])

In [172]:
po.values()

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])